.nav_items {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
}

.nav_item {
    padding: 3px 10px;
    font-size: 0.8rem;
    font-family: Lato;
    cursor: pointer;
}

.hide-md {
    display: inline;
}

.show-sm {
    display: none;
}

.internal-nav {
    display: inline-flex;
}

.logo-styl {
    width: 10%;
    height: 80%;
    margin-left: -10px;
}

.internal-nav-selected {
    border-bottom: 3px solid rgb(63, 182, 178);
}

@media screen and (min-width:450px) {
    .hide-md {
        display: none !important;
    }
    .show-sm {
        display: inherit
    }
}