.slice-styling {
    background: white;
    padding: 15px 15px;
    width: 80%;
    border: 1px solid #ccc;
    text-align: end;
    border-radius: 10px;
    word-wrap: break-word;
    position: relative;
    float: right;
}

.indexname-style {
    font-size: 0.8rem;
    padding: 10px 0px;
}