.vs_relative {
    display: flex;
    position: absolute;
    left: 49%;
}

.vs_circle {
    border-radius: 15px;
    height: 30px;
    width: 30px;
    line-height: 25px;
    text-align: center;
    background: rgb(56, 132, 217);
    pointer-events: none;
    color: white;
    -webkit-border-radius: 15px;
    vertical-align: middle;
    -moz-border-radius: 15px;
    top: 35px;
    position: relative;
}

.wdth-max{
    width: 90%;
    max-width : 320px
}

@media screen and (max-width:780px) and (min-width:500px) {
    .vs_relative {
        left: 48%;
    }
}

@media screen and (max-width:425px) {
    .vs_relative {
        display: none;
    }
}