*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px var(--color-textcolor);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-textcolor);
  outline: 0px solid var(--color-background);
  border-radius: 50px;
}

:root {
  --color-background: white;
  --color-textcolor: rgba(45, 45, 45, 0.98);
  --color-theme: rgba(11, 122, 231, 1);
  --color-gradient: #73baf3;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
  /*added for outline none in mobile devices*/
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

@media (orientation: landscape) {
  html {
    width: 100%;
    height: 100%;
  }
}

@media (orientation: portrait) {
  body {
    width: 100%;
    height: 100%;
  }
}

.App-Container {
  color: white;
  background: rgb(7, 35, 64);
  box-shadow: none;
}

.theme_txt_clr {
  color: rgb(63, 182, 178);
}

.App-header {
  display: flex;
  height: 60px;
  flex: 0 0 auto;
}

h1 {
  padding: 10px 5px 10px 0px;
  margin: 0px
}

h3 {
  padding: 20px 10px 20px 0px;
  margin: 0px;
}